.Grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 280px;
    margin: 50px auto;
}

.Grid div{
    height: 90px;
    width: 90px;
    background-color: black;
}

@media(min-width: 700px){
    .Grid{
        width: 650px;
        grid-row-gap: 15px;
    }
    
    .Grid div{
        height: 200px;
        width: 200px;
    }
    
}

@media (min-width: 1000px){
    .Grid{
        width: 900px;
        grid-row-gap: 30px
    }

    .Grid div{
        height: 270px;
        width: 270px;
    }
}