.Info{
    margin: auto;
    margin-top: 100px;
}

.Flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Flexbox p{
    margin-bottom: 0;
    width: auto;
}


.Flexbox1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Details{
    margin-left: 100px;
}

.Details div{
    margin: 10px 0;
    text-align: left;
    width: 300px;
}

.Details span{
    cursor: pointer;
}

.Img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: black;
    margin-top: 10px;
    align-items: center;
}

.Username{
    font-size: 30px;
    font-weight:100;
}

.Username button{
    font-size: 12px;
    margin-left: 20px;
}

.Name{
    font-weight: 500;
}

@media (max-width: 500px){
    
    .Details{
        margin-left: 15px;
        width: 200px;
    }
    
    .Details div{
        width: 200px;
    }
    
    .Details span{
        font-size: 10px;
    }
    
    .Img{
        width: 70px;
        height: 70px;
        margin: 30px 0 0;
    }
    
    .Username{
        font-size: 20px;
    }
    
    .Username button{
        font-size: 6px;
        margin-left: 20px;
    }
    
    .Name{
        font-size: 12px;
        font-weight: 500;
    }

    .Details p{
        font-size: 12px;
    }
}